/* General Page CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/bg.png);
    background-size: cover;
}

#home-body {
    background-image: url(/images/bg.png);
    background-size: contain;
}


/* Header */


nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none !important;

}

.logo p {
    font-size: 24px;
    color: white;
    font-weight: 700;
    font-family: "Sora", sans-serif;
}

.logo p:hover{
    color: #6d6d6d;
    cursor: pointer;
}


.logo img {
    height: 40px;
    padding: 0px 5px 0px 20px;
}

.signup {
    border: 2px solid #7d12ff;
    color: rgb(255, 255, 255) !important;
    border-radius: 10px;
    padding: 5px 20px !important;
    box-shadow: inset 0 0 20px 2px #7d12ff;
}

.signup:hover {
    background: #7d12ff;
    color: white;
    border: 2px solid #7d12ff;
    transform: scale(1.05);
}

.links a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 10px;
    font-family: "JetBrains Mono", monospace;
}

.links a::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #7d12ff;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.links a:hover::after {
    transform: scale(1);
}

.links {
    display: flex;
    align-items: center;
}

.ham-burger h1 {
    color: white;
    font-size: 24px;
    padding: 0px 20px 0px 10px;
    cursor: pointer;
}

.ham-burger h1:hover {
    color: #ab20fd;
}

.ham-dropdown {
    margin-top: 10px;
    height: 200px;
    width: 173px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    right: 10px;
    display: none;
    box-shadow: inset 0 0 10px 2px #7d12ff;
    opacity: 70%;
}

.drop-items {
    margin: 25px 30px 0px 30px;
}

.ham-item a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 10px;
}

/* .ham-burger:hover .ham-dropdown{
    display: block;
} */


/* Footer */


.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.divider img {
    width: 1200px;
    height: 20px;
    filter: drop-shadow(0 0 150px #7d12ff);

}

.links-wrapper {
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    min-width: 1200px;
}

.footer-links {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.footer-links p {
    font-family: "Sora", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.footer-links a {
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.342);
    margin-bottom: 5px;
}

.footer-links a:hover {
    color: white;
}

.footer-contact p {
    font-family: "Sora", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.footer-contact form {
    position: relative;
    max-width: 400px;

}

.footer-contact form input,
.footer-contact form textarea {
    font-family: "JetBrains Mono", monospace;
    width: 80%;
    padding: 17px;
    border: 2px solid #ffffff;
    outline: none;
    color: #ab20fd;
    font-size: 16px;
    margin-bottom: 0.7rem;
    border-radius: 10px;
    transition: transform 0.3s ease, border-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0);
}

.footer-contact form input:valid,
.footer-contact form textarea:valid {
    transform: scale(0.98);
    background-color: rgba(255, 255, 255, 0);
}

.footer-contact form input:focus,
.footer-contact form textarea:focus {
    transform: scale(1.05);
    border-color: #ab20fd;
}

.footer-contact .footer-btn {
    background-color: #ffffff00;
    color: #ffffff;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #ffffff;
    border-radius: 10px;
    width: 25%;
    padding: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.footer-contact .footer-btn:hover {
    background: #ab20fd;
    color: white;
    border: 2px solid #ab20fd;
    transform: scale(1.05);
}

.footer-contact .footer-btn:active {
    background: #7d12ff;
    color: #fff;
    border: 2px solid #7d12ff;
}

.footer-end p {
    margin: 30px;
    color: white;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
}
